---
import MiLayout from '../layouts/MiLayout.astro';
---

<MiLayout title="Prueba">
  <div class="index-container">
    <h1>Página de Prueba</h1>
    <p>Esta es una página de prueba para mostrar el uso de layouts en Astro.</p>
    <button id="confetti-button">¡Lanzar Confeti!</button>
  </div>

  
  <script type="module" src="/confetti.js"></script>
</MiLayout>


